/* public/fonts/fonts.css or styles/fonts.css */

/* Noto Sans Variable Font (English) */
@font-face {
  font-family: 'Noto Sans';
  src: url('/fonts/noto-sans/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Tiro Bangla (Bangla) */
@font-face {
  font-family: 'Tiro Bangla';
  src: url('/fonts/tiro-bangla/TiroBangla-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Global defaults */
html {
  font-family: 'Noto Sans', sans-serif;
}

/* Use Tiro Bangla for Bangla content (detected by lang="bn") */
:lang(bn) {
  font-family: 'Tiro Bangla', serif;
}

/* Use Noto Sans for English content (detected by lang="en") */
:lang(en) {
  font-family: 'Noto Sans', sans-serif;
}